# **SQL 102 - Advanced Querying Techniques**
Author: Martin Arroyo

### **About this notebook**

All of your queries will be written using preloaded databases that are available only in this notebook. Our "RDBMS" and SQL dialect is called `duckdb`, a new and popular Python library that provides the framework to make our queries possible. You can find [the documentation for `duckdb` here](https://duckdb.org/docs/sql/introduction) - you will want to keep the documentation handy.

`teachdb`, which provides the data that you will be working with, is a Python library written by The Freestack Initiative, a group of COOP alumni who want to empower the community to learn and improve their technical skills by providing materials and resources at low (or no) cost.

## **How to use this notebook**

First, we'll do a quick tutorial on how to use the notebook with these tools, then we'll dive into more SQL!

### **Step 1: Press the play button below to set up the database and notebook**

You will see a checkmark appear when the database is finished setting up.

In [ ]:
%%capture --no-stderr
# @title Press Play { display-mode: "form" }

# This code is used to set up the notebook by installing the libraries we need, configuring extensions to
# make displays for our queries look nice, and connecting to our relational database so that you can write
# queries in code cells using the %%sql magic tag.

# Install `teachdb` if it's not in the system already
%pip install --quiet --upgrade git+https://github.com/freestackinitiative/teachingdb.git
from teachdb.teachdb import connect_teachdb
# Set configurations for notebook & Load data
con = connect_teachdb(database=["core", "restaurant"])
%sql con

# Check out the Freestack Initiative @https://github.com/freestackinitiative

### **Step 2: Run a query**

To run SQL queries against the database, create a new code cell. Then write `%%sql` at the top. This tells the notebook that this cell is being used to query the database. You can write your queries underneath the `%%sql` line by pressing the play button of the cell or selecting the cell and using `CTRL + Shift + Enter` on Windows (`CMD + Shift + Return` on Mac.)

Go ahead and try it by executing the query in the cell below:

In [ ]:
%%sql

SELECT *
FROM Customers
LIMIT 5

## **Single Table Query Review and `CASE` Statements**

In this section, we'll warm up with some review of the basics we learned in SQL 101. Then you'll learn a new query technique - `CASE` statements - which are a special kind of conditional statement that lets us create custom column values based on conditions we specify.

### **Review - Single Table Queries and Aggregation**

Let's get warmed up by writing a query using what we learned in SQL 101!

Write a query that shows the top 5 customers in the `Reservations` table that have the most reservations. Additionally, show the average party size for each of those customers.

`Expected Output:`

| CustomerID | TotalReservations | AvgPartySize |
|------------|-------------------|--------------|
| 6          | 34                | 3.882353     |
| 80         | 30                | 4.033333     |
| 31         | 27                | 3.259259     |
| 41         | 27                | 3.962963     |
| 44         | 27                | 3.777778     |

<br/>
<details>
<summary>Click here to reveal answer</summary>

```sql
SELECT CustomerID, COUNT(ReservationID) AS total_reservations, AVG(PartySize) AS avg_party_size
FROM Reservations
GROUP BY CustomerID
ORDER BY total_reservations DESC
LIMIT 5
```

</details>

In [19]:
%%sql

SELECT CustomerID, COUNT(ReservationID) AS TotalReservations, ROUND(AVG(PartySize),2) AS AVGPartySize
FROM Reservations
GROUP BY CustomerID
ORDER BY TotalReservations DESC
LIMIT 5;

   CustomerID  TotalReservations  AVGPartySize
0           6                 34          3.88
1          80                 30          4.03
2          41                 27          3.96
3          47                 27          4.26
4          44                 27          3.78

Great work with that first query! Now that we're warmed up, it's time to take your querying skills to the next level!

## **`CASE` Statements**

A popular restaurant reviewer is using a pricing scale that they invented to rate how affordable dishes at restaurants are. Restaurants that have too many dishes considered "Pricey" typically have lower ratings, while those with more dishes in the "Average" range do best. We don't want our restaurant to have a low rating, so we have to find out how our menu does on this scale.

Here is the reviewer's pricing scale:

>\$4 or less - `Inexpensive`
>
>Between \$4 and \$8 - `Average`
>
>Above \$8 - `Pricey`

How can we convert the price of a dish to one of these three values based on the price? This is a perfect use for `CASE` statements!

#### **How to use `CASE` statements**

`CASE` statements are very similar to using the `IF` function in Excel. They allow you to specify "If/Then/Else" logic in your queries.

Here is the general form of a `CASE` statement:

```sql
CASE WHEN {`some condition to check`} THEN {`value if the condition is true`} ELSE {`value if all other conditions are false`} END
```

If you need to check more than one separate condition, you simply add another `WHEN/THEN` clause. The `ELSE` is always the final condition checked since it covers the case where all the other cases are false.

To see this in action, check out the query we use to show the pricing scale for our menu.

#### **`CASE` Statement Example**

Here is the query to check the pricing scale:
```sql
SELECT Name
    , Price
    , Type
    , CASE
        WHEN Price <= 4.0 THEN 'Inexpensive' -- Check the first condition
        WHEN Price BETWEEN 4.0 AND 8.0 THEN 'Average' -- Check the second condition
        ELSE 'Pricey' -- Anything over 8.0 is Pricey
      END AS PriceRating -- We end our CASE statement and give the resulting column a name using an alias
FROM Dishes
```

Here are the first five results:

| Name                         | Price | Type      | PriceRating |
|------------------------------|-------|-----------|-------------|
| Parmesan Deviled Eggs        | 8.00  | Appetizer | Average     |
| Artichokes with Garlic Aioli | 9.00  | Appetizer | Pricey      |
| French Onion Soup            | 7.00  | Main      | Average     |
| Mini Cheeseburgers           | 8.00  | Main      | Average     |
| Panko Stuffed Mushrooms      | 7.00  | Appetizer | Average     |

> **Extra Context:** <em>Code Comments</em>
>
> You may have noticed that we used "`--`" followed by some text in the query above. These lines of text are called "comments", which are notes in the code written by the developer to
communicate what a particular line or section of code means. All coding languages have a way for developers to leave these comments in their code so that they can
let future readers understand their thought process and why something was done.
>
> We use a comment symbol to let the computer know that "this is not code, so don't execute it!" Each programming language will have its own symbol for comments. In SQL, it is most common
to use "`--`" for a single-line comment. Check the documentation for the SQL dialect you are using to be sure, though!

#### Breakdown - `CASE` Statement query

Our query looks pretty simple aside from the `CASE` statement that we added. We'll focus on breaking that down line-by-line:

```sql
    CASE WHEN Price <= 4.0 THEN 'Inexpensive'
```

Every `CASE` statement begins with the word `CASE`. After that, we check conditions using the `WHEN`/`THEN` keywords. The `WHEN` looks at the condition that you specify and the `THEN` defines what happens when that condition is true. In this case, we're checking if the price is $4 or less; if it is, we're telling SQL that the value we want is "Inexpensive".

```sql
    WHEN Price BETWEEN 4.0 AND 8.0 THEN 'Average'
```

Since we need to check more than one condition to look at the price scale, we need to add another `WHEN`/`THEN` set of keywords to check the next condition. This one says, <em>"Use the word `Average` here if the `Price` is between $4 and $8."</em>

```sql
    ELSE 'Pricey'
```

The `ELSE` portion of the `CASE` statement determines what to do if all of the conditions before it are false. This is saying, <em>"If the price of a dish is not `Inexpensive` or `Average`, then it is `Pricey`"</em>

```sql
    END AS PriceRating
```

We use the `END` keyword to close all `CASE` statements. This says, <em>"We are done with our statement."</em> Since we are creating a column that doesn't otherwise exist in the database, the RDBMS will give it a default name. It is best practice to name our `CASE` statements using aliases. Here, we name the resulting column from our `CASE` statement `PriceRating`.

#### **Action Item - Using the `CASE` Statement**

The restaurant reviewer recently published an update to their price scale! The new scale is below:

> **Restaurant Reviewer's NEW Pricing Scale:**
>
>\$3 or less - `Super Cheap`
>
>Between \$4 and \$5 - `Inexpensive`
>
>Between \$5 and \$8 - `Average`
>
>Above \$8 - `Pricey`

Write a query using the `Dishes` table that shows the updated price scale. Your results should include the name of the dish, the price, and it's type - along with the new `PriceRating`. Order your results by `Price` so that we see the lowest prices first and limit your results to just the first five rows.

`Expected Output:`

| Name                   | Price | Type     | PriceRating |
|------------------------|-------|----------|-------------|
| Pomegranate Iced Tea   | 4.00  | Beverage | Inexpensive |
| Apple Pie              | 5.00  | Dessert  | Inexpensive |
| Chocolate Chip Brownie | 6.00  | Dessert  | Average     |
| Tropical Blue Smoothie | 6.00  | Beverage | Average     |
| Cafe Latte             | 6.00  | Beverage | Average     |

<br/>
<details>
    <summary>Click here to reveal the answer</summary>

```sql
SELECT Name
    , Price
    , Type
    , CASE
        WHEN Price <= 3.0 THEN 'Super Cheap'
        WHEN Price BETWEEN 4.0 AND 5.0 THEN 'Inexpensive'
        WHEN Price BETWEEN 5.0 AND 8.0 THEN 'Average'
        ELSE 'Pricey' -- Anything over 8.0 is Pricey
    END AS PriceRating
FROM Dishes
ORDER BY Price
LIMIT 5
```

</details>

In [35]:
%%sql

SELECT Name, Price, Type, CASE
  WHEN Price <= 3 THEN 'Super Cheap'
  WHEN Price BETWEEN 4 AND 5 THEN 'Inexpensive'
  WHEN Price BETWEEN 5 AND 8 THEN 'Average'
  ELSE 'Pricey'
END AS PriceRating
FROM Dishes
ORDER BY Price ASC
LIMIT 5;

                     Name  Price      Type  PriceRating
0    Pomegranate Iced Tea    4.0  Beverage  Inexpensive
1               Apple Pie    5.0   Dessert  Inexpensive
2  Chocolate Chip Brownie    6.0   Dessert      Average
3  Tropical Blue Smoothie    6.0  Beverage      Average
4              Cafe Latte    6.0  Beverage      Average

## **Scalar Functions**

So far, we have primarily used aggregate functions (e.g. `COUNT`, `SUM`) in our queries, which collapse our results into a single row. However, there is another major type of function that you should be awawre of called **scalar functions**. Scalar functions operate on individual values and return a single value. They are essential for performing common operations such as string manipulation, date handling, and mathematical calculations. Understanding scalar functions in SQL will enhance your ability to manipulate and transform data effectively.

By the end of this section, you'll understand:

- What scalar functions are
- Why you'd use them
- How to incorporate them into your queries

### **What are Scalar Functions?**

Imagine you're a chef who needs to adjust recipes based on the number of servings. Scalar functions in SQL are like the kitchen tools that help you perform these adjustments—whether it's slicing ingredients to a specific size or calculating the cooking time based on the recipe.

In SQL, scalar functions take one or more inputs and return a single output. They are used to transform or calculate values at the row level.

### **Why Use Scalar Functions?**

Scalar functions are incredibly useful when:

- You need to format or manipulate string values.
- You want to perform calculations on numeric data.
- You need to handle and manipulate date and time values.

> #### ☝️ **A note about using scalar functions**
>
> If you recall from the Database Crash Course, there are many dialects of SQL that each have their own implementation. This means that not every SQL database will have the same functions available. This means that whenever you want to use a scalar function in your query, its important to double-check the documentation for the database you are using to see which functions are available to use.
>
>The SQL dialect that we are using for this class is `duckdb`, and the [documentation is available here](https://duckdb.org/docs/sql/functions/overview). You can review the available functions there.
>
> Also important: Scalar functions can be used in `SELECT`, `WHERE`, and `GROUP BY` clauses - they are not limited to your select statements only, so you can aggregate and/or filter on the results of a function.

### **Example - Using Scalar Functions to work with dates**

One very common use for scalar functions is to manipulate dates in our tables. Typically, we'll want to convert a timestamp to a date (or vice versa) or extract some information from a date like the day of the week, year, month, etc.

First, let's show you how to convert a `TIMESTAMP` (e.g. `2022-12-01 11:59:30`) to its `DATE` representation (e.g. `2022-12-01`) using the [`CAST` function](https://duckdb.org/docs/sql/expressions/cast.html). We'll use the `Reservations` table for this exercise.

Here's the query:

```sql
SELECT
    ReservationID,
    "Date" AS ReservationTimestamp,
    CAST("Date" AS DATE) AS ReservationDate,
    PartySize
FROM Reservations
LIMIT 5
```

And here are the results:

| ReservationID | ReservationTimestamp | ReservationDate | PartySize |
|---------------|----------------------|-----------------|-----------|
| 1             | 2018-06-01 15:30:00  | 2018-06-01      | 6         |
| 2             | 2018-06-02 13:30:00  | 2018-06-02      | 2         |
| 3             | 2018-06-04 08:00:00  | 2018-06-04      | 4         |
| 4             | 2018-06-04 19:30:00  | 2018-06-04      | 5         |
| 5             | 2018-06-06 13:00:00  | 2018-06-06      | 1         |

### **Breakdown**

The `CAST` function converts a column from one data type to another. The way the syntax works is like this:

`CAST([Column to Convert] AS [Datatype we want to convert to])`

So in our case, we want to convert the data in the "Date" column from a `TIMESTAMP` to a regular `DATE` and remove the `hour:min:sec` part. That's why we use:

```sql
SELECT CAST("Date" AS DATE) AS ReservationDate
FROM Reservations
```

We're telling the function to ***"Convert the `Date` column from a `TIMESTAMP` to a `DATE` data type"***.

Why would we want to do this? Well, there can be numerous reasons depending on what kinds of questions you want to answer with your data. A common use for this is to get a list of unique dates. This would be difficult with the `TIMESTAMP` because there can be multiple unique entries for a single date. Converting the column to a `DATE` removes the time component and lets you find distinct dates.

### **Example - Extracting parts of a date**

Another very common use case for date functions is extracting parts out of a given date. For example, let's say that we want to extract the year from our date. We could do this:

```sql
SELECT DISTINCT YEAR("Date") AS ReservationYear
FROM Reservations
ORDER BY ReservationYear
```

And we will get all of the years that are on record in the `Reservations` table, in order:

| ReservationYear |
|-----------------|
| 2018            |
| 2019            |
| 2020            |
| 2021            |
| 2022            |

If we wanted to extract just the month from our date, we could use the `MONTH` function to do that:

```sql
SELECT DISTINCT MONTH("Date") AS ReservationMonth
FROM Reservations
ORDER BY ReservationMonth
```

| ReservationMonth |
|------------------|
| 1                |
| 2                |
| 3                |
| 4                |
| 5                |
| 6                |
| 7                |
| 8                |
| 9                |
| 10               |
| 11               |
| 12               |

#### The `EXTRACT` function

While those functions work well for extracting some parts of a date, there is a more general and powerful function that can be used - `EXTRACT`. `EXTRACT` works by having a list of [known subfields](https://duckdb.org/docs/sql/functions/datepart) from a `DATE` or `TIMESTAMP` that it can extract, and the syntax is like this:

`EXTRACT([subfield] FROM [date column])`

Here's an example query:

```sql
SELECT
    EXTRACT('year' FROM "Date") AS ReservationYear,
    EXTRACT('month' FROM "Date") AS ReservationMonth
FROM
    Reservations
WHERE
    EXTRACT('year' FROM "Date") = 2020 -- We can use functions in both WHERE and GROUP BY clauses
ORDER BY
    ReservationYear,
    ReservationMonth
```

And the results:

| ReservationYear | ReservationMonth |
|-----------------|------------------|
| 2020            | 1                |
| 2020            | 2                |
| 2020            | 3                |
| 2020            | 4                |
| 2020            | 5                |
| 2020            | 6                |
| 2020            | 7                |
| 2020            | 8                |
| 2020            | 9                |
| 2020            | 10               |
| 2020            | 11               |
| 2020            | 12               |

### **Action Item - Extracting the Day of the Week from a `TIMESTAMP`**

**Scenario**

The restaurant would like to start keeping track of which days of the week get the most reservations. But the current `Reservations` table doesn't list the day of the week - it only has the `TIMESTAMP` for the reservation itself. Write a query that extracts the day of the week from the `Date` column and put it in a column called `DayOfWeek`.

`Expected Output:`

| ReservationID | Date                | DayOfWeek | PartySize |
|---------------|---------------------|-----------|-----------|
| 1             | 2018-06-01 15:30:00 | Friday    | 6         |
| 2             | 2018-06-02 13:30:00 | Saturday  | 2         |
| 3             | 2018-06-04 08:00:00 | Monday    | 4         |
| 4             | 2018-06-04 19:30:00 | Monday    | 5         |
| 5             | 2018-06-06 13:00:00 | Wednesday | 1         |

<br/>
<details>
<summary>Here's a hint in case you're stuck</summary>

The `dayofweek` subfield returns the day of the week as a number (Sunday = 0, Saturday = 6), but we want the actual name. Can we leverage the `CASE` statement to help us get the name of the day?
</details>
<br/>
<details>
<summary>Click here to reveal answer</summary>

```sql
SELECT
    ReservationID,
    "Date",
    CASE EXTRACT('dayofweek' FROM "Date")
        WHEN 0 THEN 'Sunday'
        WHEN 1 THEN 'Monday'
        WHEN 2 THEN 'Tuesday'
        WHEN 3 THEN 'Wednesday'
        WHEN 4 THEN 'Thursday'
        WHEN 5 THEN 'Friday'
        WHEN 6 THEN 'Saturday'
    END AS DayOfWeek,
    PartySize
FROM
    Reservations
ORDER BY
    ReservationID,
    "Date"
```

</details>

In [39]:
%%sql

SELECT

     ReservationYear  ReservationMonth
0               2020                 1
1               2020                 1
2               2020                 1
3               2020                 1
4               2020                 1
5               2020                 1
6               2020                 1
7               2020                 1
8               2020                 1
9               2020                 1
10              2020                 1
11              2020                 1
12              2020                 1
13              2020                 1
14              2020                 1
15              2020                 1
16              2020                 1
17              2020                 1
18              2020                 1
19              2020                 1
20              2020                 1
21              2020                 1
22              2020                 1
23              2020                 1
24              2020                 1
25              2020                 1
26              2020                 1
27              2020                 1
28              2020                 1
29              2020                 1
30              2020                 1
31              2020                 1
32              2020                 1
33              2020                 1
34              2020                 1
35              2020                 1
36              2020                 1
37              2020                 1
38              2020                 1
39              2020                 1
40              2020                 1
41              2020                 1
42              2020                 1
43              2020                 1
44              2020                 1
45              2020                 1
46              2020                 1
47              2020                 1
48              2020                 1
49              2020                 1
50              2020                 1
51              2020                 2
52              2020                 2
53              2020                 2
54              2020                 2
55              2020                 2
56              2020                 2
57              2020                 2
58              2020                 2
59              2020                 2
60              2020                 2
61              2020                 2
62              2020                 2
63              2020                 2
64              2020                 2
65              2020                 2
66              2020                 2
67              2020                 2
68              2020                 2
69              2020                 2
70              2020                 2
71              2020                 2
72              2020                 2
73              2020                 2
74              2020                 2
75              2020                 2
76              2020                 2
77              2020                 2
78              2020                 2
79              2020                 2
80              2020                 2
81              2020                 2
82              2020                 2
83              2020                 2
84              2020                 2
85              2020                 2
86              2020                 3
87              2020                 3
88              2020                 3
89              2020                 3
90              2020                 3
91              2020                 3
92              2020                 3
93              2020                 3
94              2020                 3
95              2020                 3
96              2020                 3
97              2020                 3
98              2020                 3
99              2020                 3
100             2020                 3
101             2020                 3
102             2020                 3
103             2020                 3
104             2020                 3
105             2020                 3
106             2020                 3
107             2020                 3
108             2020                 3
109             2020                 3
110             2020                 3
111             2020                 3
112             2020                 3
113             2020                 3
114             2020                 3
115             2020                 3
116             2020                 3
117             2020                 3
118             2020                 3
119             2020                 3
120             2020                 3
121             2020                 3
122             2020                 3
123             2020                 3
124             2020                 3
125             2020                 3
126             2020                 3
127             2020                 4
128             2020                 4
129             2020                 4
130             2020                 4
131             2020                 4
132             2020                 4
133             2020                 4
134             2020                 4
135             2020                 4
136             2020                 4
137             2020                 4
138             2020                 4
139             2020                 4
140             2020                 4
141             2020                 4
142             2020                 4
143             2020                 4
144             2020                 4
145             2020                 4
146             2020                 4
147             2020                 4
148             2020                 4
149             2020                 4
150             2020                 4
151             2020                 4
152             2020                 4
153             2020                 4
154             2020                 4
155             2020                 4
156             2020                 4
157             2020                 4
158             2020                 4
159             2020                 4
160             2020                 4
161             2020                 4
162             2020                 4
163             2020                 4
164             2020                 4
165             2020                 4
166             2020                 4
167             2020                 4
168             2020                 4
169             2020                 4
170             2020                 4
171             2020                 5
172             2020                 5
173             2020                 5
174             2020                 5
175             2020                 5
176             2020                 5
177             2020                 5
178             2020                 5
179             2020                 5
180             2020                 5
181             2020                 5
182             2020                 5
183             2020                 5
184             2020                 5
185             2020                 5
186             2020                 5
187             2020                 5
188             2020                 5
189             2020                 5
190             2020                 5
191             2020                 5
192             2020                 5
193             2020                 5
194             2020                 5
195             2020                 5
196             2020                 5
197             2020                 5
198             2020                 5
199             2020                 5
200             2020                 5
201             2020                 5
202             2020                 5
203             2020                 5
204             2020                 5
205             2020                 5
206             2020                 5
207             2020                 5
208             2020                 5
209             2020                 5
210             2020                 5
211             2020                 5
212             2020                 5
213             2020                 6
214             2020                 6
215             2020                 6
216             2020                 6
217             2020                 6
218             2020                 6
219             2020                 6
220             2020                 6
221             2020                 6
222             2020                 6
223             2020                 6
224             2020                 6
225             2020                 6
226             2020                 6
227             2020                 6
228             2020                 6
229             2020                 6
230             2020                 6
231             2020                 6
232             2020                 6
233             2020                 6
234             2020                 6
235             2020                 6
236             2020                 6
237             2020                 6
238             2020                 6
239             2020                 6
240             2020                 6
241             2020                 6
242             2020                 6
243             2020                 6
244             2020                 6
245             2020                 6
246             2020                 6
247             2020                 6
248             2020                 6
249             2020                 6
250             2020                 6
251             2020                 6
252             2020                 6
253             2020                 6
254             2020                 6
255             2020                 6
256             2020                 6
257             2020                 7
258             2020                 7
259             2020                 7
260             2020                 7
261             2020                 7
262             2020                 7
263             2020                 7
264             2020                 7
265             2020                 7
266             2020                 7
267             2020                 7
268             2020                 7
269             2020                 7
270             2020                 7
271             2020                 7
272             2020                 7
273             2020                 7
274             2020                 7
275             2020                 7
276             2020                 7
277             2020                 7
278             2020                 7
279             2020                 7
280             2020                 7
281             2020                 7
282             2020                 7
283             2020                 7
284             2020                 7
285             2020                 7
286             2020                 7
287             2020                 7
288             2020                 7
289             2020                 7
290             2020                 7
291             2020                 7
292             2020                 7
293             2020                 7
294             2020                 7
295             2020                 7
296             2020                 8
297             2020                 8
298             2020                 8
299             2020                 8
300             2020                 8
301             2020                 8
302             2020                 8
303             2020                 8
304             2020                 8
305             2020                 8
306             2020                 8
307             2020                 8
308             2020                 8
309             2020                 8
310             2020                 8
311             2020                 8
312             2020                 8
313             2020                 8
314             2020                 8
315             2020                 8
316             2020                 8
317             2020                 8
318             2020                 8
319             2020                 8
320             2020                 8
321             2020                 8
322             2020                 8
323             2020                 8
324             2020                 8
325             2020                 8
326             2020                 8
327             2020                 8
328             2020                 8
329             2020                 8
330             2020                 8
331             2020                 8
332             2020                 8
333             2020                 8
334             2020                 8
335             2020                 8
336             2020                 8
337             2020                 8
338             2020                 8
339             2020                 8
340             2020                 8
341             2020                 8
342             2020                 9
343             2020                 9
344             2020                 9
345             2020                 9
346             2020                 9
347             2020                 9
348             2020                 9
349             2020                 9
350             2020                 9
351             2020                 9
352             2020                 9
353             2020                 9
354             2020                 9
355             2020                 9
356             2020                 9
357             2020                 9
358             2020                 9
359             2020                 9
360             2020                 9
361             2020                 9
362             2020                 9
363             2020                 9
364             2020                 9
365             2020                 9
366             2020                 9
367             2020                 9
368             2020                 9
369             2020                 9
370             2020                 9
371             2020                 9
372             2020                 9
373             2020                 9
374             2020                 9
375             2020                 9
376             2020                 9
377             2020                 9
378             2020                 9
379             2020                 9
380             2020                10
381             2020                10
382             2020                10
383             2020                10
384             2020                10
385             2020                10
386             2020                10
387             2020                10
388             2020                10
389             2020                10
390             2020                10
391             2020                10
392             2020                10
393             2020                10
394             2020                10
395             2020                10
396             2020                10
397             2020                10
398             2020                10
399             2020                10
400             2020                10
401             2020                10
402             2020                10
403             2020                10
404             2020                10
405             2020                10
406             2020                10
407             2020                10
408             2020                10
409             2020                10
410             2020                10
411             2020                10
412             2020                10
413             2020                10
414             2020                10
415             2020                10
416             2020                10
417             2020                10
418             2020                10
419             2020                10
420             2020                10
421             2020                10
422             2020                10
423             2020                10
424             2020                11
425             2020                11
426             2020                11
427             2020                11
428             2020                11
429             2020                11
430             2020                11
431             2020                11
432             2020                11
433             2020                11
434             2020                11
435             2020                11
436             2020                11
437             2020                11
438             2020                11
439             2020                11
440             2020                11
441             2020                11
442             2020                11
443             2020                11
444             2020                11
445             2020                11
446             2020                11
447             2020                11
448             2020                11
449             2020                11
450             2020                11
451             2020                11
452             2020                11
453             2020                11
454             2020                11
455             2020                11
456             2020                11
457             2020                11
458             2020                11
459             2020                11
460             2020                11
461             2020                11
462             2020                11
463             2020                11
464             2020                11
465             2020                11
466             2020                11
467             2020                11
468             2020                11
469             2020                12
470             2020                12
471             2020                12
472             2020                12
473             2020                12
474             2020                12
475             2020                12
476             2020                12
477             2020                12
478             2020                12
479             2020                12
480             2020                12
481             2020                12
482             2020                12
483             2020                12
484             2020                12
485             2020                12
486             2020                12
487             2020                12
488             2020                12
489             2020                12
490             2020                12
491             2020                12
492             2020                12
493             2020                12
494             2020                12
495             2020                12
496             2020                12
497             2020                12
498             2020                12
499             2020                12
500             2020                12
501             2020                12
502             2020                12
503             2020                12

## **Subqueries - Writing a query within a query**

You've come a long way in your SQL journey! You're already familiar with the basics like `SELECT`, `WHERE`, and `GROUP BY`. And you just learned how to add conditional logic using the `CASE` statement. Now, let's take it up a notch by diving into the concept of subqueries.

In SQL, a subquery is essentially a query within a query. This might sound a little confusing at first, but don't worry - by the end of this section, you'll understand:

- What subqueries are
- Why you'd use them, and
- How to incorporate them into your SQL work

### **What is a Subquery?**

Imagine you're a detective. You've got a briefcase full of clues, and inside that briefcase is a smaller box with even more specific clues. A subquery works like that smaller box of clues, providing additional information to the main query (your detective's briefcase).

In SQL, a subquery is a query nested inside another query. It's used to retrieve data that will be utilized by the main query to further filter or refine the results. The subquery is executed first, and its result is passed to the main query.

### **Why Use Subqueries?**

Subqueries can be incredibly useful when:
- You need to filter rows based on values from another query.
- You require multiple logical steps in a single query.

### **Example - Using Basic Subqueries as a filter**

**Scenario:**

Let's say we want to find the names of the customers who ordered dishes most recently from us. Customer dish orders are found in the `CustomersDishes` table, but it doesn't have the customer names. The customer names are found in the `Customers` table.

We could do a join, but there is another way that doesn't involve one - using a subquery!

**Breakdown:**

First, what we want to do is create a query that gets us a list of the CustomerID's in `CustomersDishes`. This is going to be our **subquery**:

```sql
SELECT DISTINCT CustomerID
FROM CustomersDishes
```

We use the results from the **subquery** to feed data to the "main" query for processing.

**The full subquery:**

```sql
-- This outer section is the main or "outer" query
SELECT FirstName, LastName
FROM Customers
-- This is where we check the subquery for the customer ids
WHERE CustomerID IN (SELECT DISTINCT CustomerID FROM CustomersDishes)
```

**How it works:**

The main/outer query gets the first and last names in the `Customers` table. Then, in our `WHERE` clause, we check for customer IDs found in our subquery result `(SELECT DISTINCT CustomerID FROM CustomersDishes)`.

> **Important:** Subqueries are ALWAYS surrounded by parentheses

The outer query will filter the results for the `Customers` table only using the customer IDs found in the `CustomersDishes` table.

**Caveat**

When using a subquery as a filter (like the previous example), the subquery must only return a single column - otherwise you will get an error.

However, it is possible to also use a subquery to return results like we were querying another table. We will show an example of that shortly

#### **Action Item - Write a basic subquery as a filter**

Write a query that finds the FirstName and LastName of customers who have an event scheduled in the `CustomersEvents` table.

`Expected Output:`

| FirstName | LastName    |
|-----------|-------------|
| Taylor    | Jenkins     |
| Cammi     | Kynett      |
| Cleo      | Goldwater   |
| Winnah    | D'Elia      |
| Ab        | Jurn        |
| Lelah     | Seathwright |

<br/>
<details>
<summary>Click here to reveal answer</summary>

```sql
SELECT FirstName, LastName
FROM Customers
WHERE CustomerID IN (SELECT DISTINCT CustomerID FROM CustomersEvents)
```

</details>

In [ ]:
%%sql

---

### **Lab 1 - Subqueries to answer multi-step questions**

As mentioned earlier, subqueries are great for answering questions that require multiple steps to answer. The basic strategy is to write a subquery that completes one step, typically creating a table that can then be used in the next step. We'll work through an example together to help solidify this concept.

Let's return to our earlier example with the restaurant reviewers price scale.

**Scenario:**

This time, we want to **find how many dishes we have that are in each category of the price scale**. Logically, this requires two steps to answer:

1. Create a table that shows the pricing scale
2. Write a query against that table that counts the number of dishes for each category

First, let's look at the query we'll use to do this and then break it down step-by-step:

```sql
-- This is our main query
SELECT PriceRating, COUNT(*) AS TotalDishes
FROM
-- START OF SUBQUERY
(
    SELECT Name
    , Price
    , Type
    , CASE
        WHEN Price <= 3.0 THEN 'Super Cheap'
        WHEN Price BETWEEN 4.0 AND 5.0 THEN 'Inexpensive'
        WHEN Price BETWEEN 5.0 AND 8.0 THEN 'Average'
        ELSE 'Pricey'
    END AS PriceRating
FROM Dishes) AS PriceRatingTable
-- END OF SUBQUERY
GROUP BY PriceRating
ORDER BY TotalDishes DESC
```

Run this query in the cell below to see how it all works together:

In [38]:
%%sql
SELECT PriceRating, COUNT(*) AS TotalDishes
FROM
-- START OF SUBQUERY
(
    SELECT Name
    , Price
    , Type
    , CASE
        WHEN Price <= 3.0 THEN 'Super Cheap'
        WHEN Price BETWEEN 4.0 AND 5.0 THEN 'Inexpensive'
        WHEN Price BETWEEN 5.0 AND 8.0 THEN 'Average'
        ELSE 'Pricey'
    END AS PriceRating
FROM Dishes) AS PriceRatingTable
-- END OF SUBQUERY
GROUP BY PriceRating
ORDER BY TotalDishes DESC

   PriceRating  TotalDishes
0       Pricey           11
1      Average            9
2  Inexpensive            2

#### **Breakdown - Subqueries to answer multi-step questions**

There's quite a bit happening in that query, and it might look confusing, too. But let's break it down piece-by-piece:

**Let's start with the subquery:**

```sql
(
    SELECT Name
    , Price
    , Type
    , CASE
        WHEN Price <= 3.0 THEN 'Super Cheap'
        WHEN Price BETWEEN 4.0 AND 5.0 THEN 'Inexpensive'
        WHEN Price BETWEEN 5.0 AND 8.0 THEN 'Average'
        ELSE 'Pricey'
    END AS PriceRating
FROM Dishes) AS PriceRatingTable
```

This subquery is helping us complete `step 1` of our query. It's creating the `PriceRatingRable` that gives a price rating to all of our dishes. The reason we are creating this as a subquery is because:

1. The table does not currently exist in the database
2. We may not have permission or otherwise be able to create a new table in a database. In these cases, we can use subqueries to create a sort of temporary table that we can write SQL against

*Note: Creating a table in a subquery does **NOT** add it to the database - it disappears after the query returns its results!*

- You might have noticed that this is the same query we wrote earlier in the `CASE` statements section. We are using it as our subquery because we want the main query to use its results.
- Just like the other form of subquery, we wrap this in parentheses.
- The difference is that this subquery returns a table as a result and we give it an alias (`PriceRatingTable`), which is required.

**Now let's look at the main query:**

```sql
SELECT PriceRating, COUNT(*) AS TotalDishes
FROM -- SUBQUERY GOES HERE
GROUP BY PriceRating
ORDER BY TotalDishes DESC
```

Since we solved `step 1` - creating the pricing table - we can now move on to `step 2`, writing a query against it to calculate the number of dishes per pricing category. There's nothing new or fancy, here:

- The main query is just your typical aggregate query that we already know
- The only difference is that we are selecting data from a subquery by putting the subquery after `FROM` instead of another table

**Summary - Subqueries to answer multi-step questions**

- Subqueries can also be used to answer multi-step questions by creating custom tables that are needed to solve one of the steps
- They must be wrapped in parentheses
- The main query accesses the results in the subquery using the `FROM` clause
- By using subqueries like this, you can create queries that involve more than one data processing step to get your desired results

#### **Action Item - Using Subqueries**

The restaurant owners have been working on putting together a new menu and want to know the average price of a dish for each type of item. If you recall from earlier, we wrote a query to help them put that menu together using `UNION`. Here is the query to refresh your memory:

```sql
SELECT Name, Price, Type
FROM NewDishes
WHERE Type IN ('Appetizer', 'Dessert')
UNION
SELECT Name, Price, Type
FROM Dishes
WHERE Type IN ('Main', 'Beverage')
```

Find the average price of a dish for each `Type` using the query above as a subquery. Order your results by the average price in descending order.

`Expected Output:`

| Type      | MeanPrice |
|-----------|-----------|
| Main      | 9.094000  |
| Appetizer | 8.497500  |
| Dessert   | 7.250000  |
| Beverage  | 5.333333  |

<br/>
<details>
<summary>Click to reveal answer</summary>

```sql
SELECT Type, AVG(Price) AS MeanPrice
FROM (
    SELECT Name, Price, Type
    FROM NewDishes
    WHERE Type IN ('Appetizer', 'Dessert')
    UNION
    SELECT Name, Price, Type
    FROM Dishes
    WHERE Type IN ('Main', 'Beverage')
) AS NewMenu
GROUP BY Type
ORDER BY MeanPrice DESC
```

</details>

In [ ]:
%%sql

Congratulations, you've completed Lab 1!

---

## **Lab 2 - Common Table Expressions (CTE) and Subqueries**

While not technically a subquery, **Common Table Expressions (CTEs)** are a popular method in SQL for storing the results of intermediate queries to write more complex, multi-step queries.

In this section, you will learn:

- What a Common Table Expression (CTE) is
- Why they are useful
- How to rewrite a table subquery as a CTE for better readability

### **What is a CTE?**

A CTE, or Common Table Expression, is a temporary result set that you can reference within a `SELECT`, `INSERT`, `UPDATE`, or `DELETE` statement. CTEs are defined using the `WITH` clause. Once defined, a CTE is not stored as an object in the database; it exists just for the duration of the query. This means that any "tables" you create with your subquery will only be around when the query runs - once the query finishes, the table is no longer there.

### **How is a CTE Different from a Subquery?**

While CTEs and Subqueries are similar in that they let you write queries with multiple processing steps, they differ in some key ways:

- **Readability and Maintenance**: CTEs can make your queries more readable and easier to maintain. They allow you to name your temporary result set and reference it like you would a regular table. You can't do that with a subquery.

- **Reusability**: One of the main advantages of a CTE is that you can reference it multiple times in your main query, whereas a subquery would have to be rewritten each time you want to use it.

- **(Advanced Use Case) Recursive Queries**: CTEs can be recursive, meaning they can reference themselves. This is useful for hierarchical or tree-structured data, like organizational charts. Subqueries cannot do this. This is out of the scope of this course, but is worth mentioning regardless.

- **Ordering**: A CTE can be ordered using an ORDER BY clause, which can simplify the main query. In contrast, you cannot order a subquery that returns multiple rows (unless you're using it with an IN clause.)

### **Example - Rewriting our subquery using a CTE**

Subqueries are very useful, but they can be tricky to write and maintain simply because the syntax looks confusing. They require you to read queries from the inside-out to understand what's going on. That isn't the most intuitive thing to do.

This is a good reason to consider using CTEs instead. Using a CTE, we can make our query quite a bit more readable.

Let's rewrite our original subquery and use a CTE instead:

```sql
WITH pricing_scale AS ( -- We start each CTE using the WITH clause and naming our result. We're using "pricing_scale" here
    -- This is our "inner" query, still inside of parentheses
    SELECT Name,
          Price,
          Type,
          CASE
            WHEN Price <= 3.0 THEN 'Super Cheap'
            WHEN Price BETWEEN 4.0 AND 5.0 THEN 'Inexpensive'
            WHEN Price BETWEEN 5.0 AND 8.0 THEN 'Average'
            ELSE 'Pricey' -- Anything over 8.0 is Pricey
        END AS PriceRating
    FROM Dishes
)
-- This is the start of our "outer" query
SELECT PriceRating, COUNT(*) AS TotalDishes
FROM pricing_scale -- We reference our table using the name we gave it using the WITH clause
GROUP BY PriceRating
ORDER BY TotalDishes DESC
```

### **Breakdown - Rewriting our subquery as a CTE**

Our CTE, like the subquery, has two parts:
- The CTE itself, and
- A main query

You need both parts for the CTE to work correctly.

#### **The CTE**

We'll start with the CTE itself:

```sql
WITH pricing_scale AS (
    SELECT Name
        , Price
        , Type
        , CASE
            WHEN Price <= 3.0 THEN 'Super Cheap'
            WHEN Price BETWEEN 4.0 AND 5.0 THEN 'Inexpensive'
            WHEN Price BETWEEN 5.0 AND 8.0 THEN 'Average'
            ELSE 'Pricey' -- Anything over 8.0 is Pricey
        END AS PriceRating
    FROM Dishes
)
```

Let's break this down:

- First, we start the query using `WITH pricing_scale AS`, which is how we start every CTE query. This lets us give the CTE a descriptive name. It's similar to using an alias for a subquery.
- Just like in a subquery, we put our CTE query inside of a pair of parentheses. The difference here is that we're writing our main query underneath the CTE instead of on top of it. This can help a lot with readability.

#### **The Main Query of a CTE**

```sql
SELECT PriceRating, COUNT(*) AS TotalDishes
FROM pricing_scale -- We reference our table using the name we gave it using the WITH clause
GROUP BY PriceRating
ORDER BY TotalDishes DESC
```

Just like the subquery, we use a main query to perform additional processing on the result from the CTE query. The main difference, as mentioned above, is that the main query is underneath the CTE query rather than the other way around like in subqueries. Also, we can reference the name of the CTE query directly in the `FROM` clause, which we can't do with a subquery.

### **Action Item - Using a CTE**

For this exercise, you will simply rewrite the query you wrote for the subquery action item above as a CTE. Use the previous examples as a reference. The output will be the same as the previous query.

<br/>
<details>
<summary>Click here to reveal answer</summary>

```sql
WITH NewMenu AS (
    SELECT Name, Price, Type
    FROM NewDishes
    WHERE Type IN ('Appetizer', 'Dessert')
    UNION
    SELECT Name, Price, Type
    FROM Dishes
    WHERE Type IN ('Main', 'Beverage')
)
SELECT Type, AVG(Price) AS MeanPrice
FROM NewMenu
GROUP BY Type
ORDER BY MeanPrice DESC
```

</details>

In [ ]:
%%sql


---

### **<em>Comprehension Check</em> - Subqueries: Writing a query within a query**

Answer the questions below to check your understanding of what we have covered so far. Try to answer the questions first before looking at the answers:

*1. What is a subquery in SQL??*
<details>
    <summary>Click to reveal the answer</summary>
    <p>A subquery is a query nested inside another query.</p>
</details>


*2. What type of brackets are commonly used to encapsulate a subquery?*
<details>
    <summary>Click to reveal the answer</summary>
    <p>Parentheses () are commonly used to encapsulate a subquery.</p>
</details>


*3. What does CTE stand for?*
<details>
    <summary>Click to reveal the answer</summary>
    <p>`RIGHT JOIN` is the opposite of `LEFT JOIN`. It keeps all the records from the right-side table and only the matching records from the left-side table. Unmatched records from the left-side table will have `NULL` values.</p>
</details>

*4. What is the keyword used to start a CTE?*
<details>
    <summary>Click to reveal the answer</summary>
    <p>The keyword used to start a CTE is WITH.</p>
</details>

*5. Can a CTE be referenced more than once in a query?*
<details>
    <summary>Click to reveal the answer</summary>
    <p>Yes, a CTE can be referenced multiple times in a query.</p>
</details>

## Conclusion

Congratulations on completing SQL 102! You have a lot of new techniques to the skillset you began developing in SQL 101. Now you're ready to take on more complex questions. Great job! Let's keep moving forward to SQL 103, where you'll learn how to combine data from multiple tables.

As always, we encourage you to continue practicing and learning more. Use both the resources we provide and find opportunities to learn independently.

## More resources for further practice

- [SQL Bolt](https://sqlbolt.com/): The lessons here are a great introduction to SQL and you know the platform already!
- [Mode](https://mode.com/sql-tutorial/): A comprehensive SQL tutorial from beginner all the way to advanced SQL. There's even a data analytics with SQL tutorial. This is a great resource to learn about SQL in depth and practice what you learn in their online database.
- [StrataScratch](https://platform.stratascratch.com/coding): Practice coding questions geared toward data analysts and data scientists. You can solve coding problems used by real companies for technical interviews using PostgresSQL, Python, R, or MySQL. It's free to sign up!
- [Codecademy - Free Learn SQL Course](https://www.codecademy.com/learn/learn-sql): Codecademy is another great resource to learn SQL as well as most other languages. There are a lot of free resources here that can help you learn SQL, Python, R, and many other languages.
- [Socratica SQL (YouTube)](https://www.youtube.com/watch?v=nWyyDHhTxYU&list=PLih4ch-U2DiBbMoFK4ML9faT3k3MM2UQY): This is a great playlist that will get you started learning SQL with one of the most popular relational databases - Postgres.
- [DB Fiddle](https://dbfiddle.uk/): This site is like a SQL scratch pad. You can use it to practice doing stuff like creating tables and inserting data into them, and all sorts of other stuff that you might not be able to do so freely in a live database. It's a sandbox, basically. Here are a couple of links to fiddles with some data in them to play with: [fiddle 1](https://dbfiddle.uk/?rdbms=postgres_13&fiddle=366b683701596d3f7459b0411c15acd1) and [fiddle 2](https://dbfiddle.uk/?rdbms=postgres_13&fiddle=dfffc1939f629d9286c55d732fb656c5).


And don't forget to keep your [SQL Cheatsheet](https://martinmarroyo.github.io/sqlcheatsheetandresources-coop/) handy!